<h1>Ваш календарь</h1>
<div class="year"><span (click)=prevYear()><-</span>{{ year }}<span (click)=nextYear()>-></span></div>
<div class="calendar" >
    <div class='month' 
        *ngFor="let month of result; let i = index;"
        [ngClass]="month.days.length ? 'activeMonth' : '' "
        (mouseenter)="showThisMonth = month.month"
        >
        {{ month.month }}
        {{ month.days | json }}
        <table>
            <thead>
                <th>ПН</th>
                <th>ВТ</th>
                <th>СР</th>
                <th>ЧТ</th>
                <th>ПТ</th>
                <th>СБ</th>
                <th>ВС</th>
            </thead>
            <tbody class="month-days">

                <td *ngFor="let empty of getArrays(emptyDays[i]);"></td>
                <td 
                    *ngFor="let day of getArrays(monthLengthArray[i])"
                    (click)="showDate(day+1, month.month)"
                    
                    [ngClass]="[month.month === today.month && (day+1) === today.day && year === today.year ? 'today' : '',
                        monthActiveDays[i].activeDays.includes(day + 1) ? 'activeDay' : '']"
                    (mouseenter)="[monthActiveDays[i].activeDays.includes(day + 1) ? showHint = (day+1) : showHint = 0,
                    k = monthActiveDays[i].activeDays.indexOf(day + 1)]"
                    (mouseleave)="showHint = 0"
                    >
                    {{day + 1}}
                    <div 
                        *ngIf="monthActiveDays[i].activeDays.includes(day + 1) && showHint === (day+1) && showThisMonth === month.month"
                        class="hint">
                        {{month.month}} {{ month.days[k].day }} {{ month.days[k].event}}
                    </div>
                </td>
            </tbody>
        </table>
    </div> 
   
</div>
<!-- Next activity remaining {{ today.day }} days -->
<button (click)="saveDatas(data)">Save</button>